<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>{{ appName }}</h1>
  <p>Create timers and bind web-app related reminders to them. When the timer is up a, notification will appear to remind you to complete your action.</p>
  <p>Examples:
    <ul>
      <li>Log time to Freckle</li>
      <li>Share your thoughts to Yammer</li>
      <li>Do your hands and neck exercises</li>
      <li>Commit your code to GitHub</li>
    </ul>
  </p>
</div>

<div class="page-header">
  <h1><span class="glyphicon glyphicon-time"></span> Timers. <span class="label label-primary">{{ numTimers }}</span></h1>
</div>

<p ng-show="!timers">There are no timers to show. Please add timers.</p>
<p ng-show="timers">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="timer in timers" ng-show="timers">
      <h4 class="list-group-item-heading"><a class="timer-edit-link pull-right" ui-sref="timers.detail.edit({ timerId: timer.id })" title="Edit this timer"><span class="glyphicon glyphicon-edit"></span></a> <em><a ui-sref="timers.detail.view({ timerId: timer.id })" title="See this timer">{{ timer.name }}</a></em> repeated every {{ timer.frequency | timeUnits }} from {{ timer.fromTime }} to {{ timer.toTime }}.</h4>
      <p class="list-group-item-text">{{ timer.description }}</p>
    </li>
  </ul>
</p>
<p>
  <a ui-sref="timers.add" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Add timer</a>
</p>
