<div class="page-header">
  <h1><span class="glyphicon glyphicon-user"></span> Edit your profile. <small>Some information about you.</small></h1>
</div>

<form role="form" name="form" class="form-horizontal clearfix" novalidate>
  <div class="form-group" ng-class="{true: 'has-error', false: 'has-success'}[form.name.$invalid]">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" placeholder="Name" id="name" name="name" ng-model="profile.name" autofocus required>
    </div>
  </div>
  <div class="form-group" ng-class="{true: 'has-error', false: 'has-success'}[form.mail.$invalid]">
    <label for="mail" class="col-sm-2 control-label">E-mail</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" placeholder="E-mail" id="mail" name="mail" ng-model="profile.mail" required>
    </div>
  </div>
  <div class="form-group">
    <label for="direction" class="col-sm-2 control-label">Direction</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" placeholder="Direction" id="direction" name="direction" ng-model="profile.direction"></textarea>
    </div>
  </div>
  <div class="form-group">
    <label for="bio" class="col-sm-2 control-label">Bio</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" placeholder="Biography" id="bio" name="bio" ng-model="profile.bio"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="btn-group">
        <a class="btn btn-default" ng-href="#/profile">Cancel</a>
        <button class="btn btn-danger" ng-click="showClearProfileModal()" ng-disabled="!editing">Clear profile</button>
        <button class="btn" ng-class="{true:'btn-default', false:'btn-success'}[form.$invalid]" ng-click="saveProfile();" ng-disabled="form.$invalid">Save profile</button>
      </div>
    </div>
  </div>
</form>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Clear profile</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to clear the data in this profile? This action cannot be undone.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="clearProfile()">Clear</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->