/* app css stylesheet */
html {
  overflow-y: scroll;
}

body {
  -webkit-user-select: text;
  overflow: visible;
}

a.close-link {
  color: red;
}

.timer-edit-link .glyphicon {
  opacity: 0;
}

.list-group-item:hover .timer-edit-link .glyphicon {
  opacity: 1;
}

.circular-avatar {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: -15px;
}